@page "/ViewBills"
@using global::Shared.Models
@using HttpClient.Implementations
@inject ClientHttpClient client



@code {

    private Bill[] bills = new[] { new Bill(1, 1, System.DateTime.Now, System.DateTime.Now, 55, 1, "hello string", true) };


    protected override void OnInitialized()
    {
        System.Console.WriteLine("This is the bill:" + bills[0]);
        base.OnInitialized();
    }

    
    /*
<div>
    <table class="bills">
        <thead>
        <tr>
            <th>Billing number</th>
            <th>Billing date</th>
            <th>Due date</th>
            <th>Total amount</th>
            <th>Is payed</th>
            <th>View</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in bills)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.billingdate</td>
                <td>@item.duedate</td>
                <td>@item.total</td>
                <td>@item.payedstatus</td>
                <td>
                    <SfIcon Name="IconName.Redo" Title="View bill"></SfIcon>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
     */
}