@inject NavigationManager nav

<div class="navbar-header">
    <div class="container-fluid">
        <div class="navbar-brand">Spenditorium</div>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu"></button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="navbar-holder">
        <div class="nav-item px-3" onclick="@RedirectToHome">
            <i class="fa fa-cloud">
                <span class="oi oi-home" aria-hidden="true"></span>
            </i> Home
        </div>
        <div class="nav-item px-3 dropdown">
            <i class="fa fa-cloud">
                <span class="oi oi-folder" aria-hidden="true"></span>
                <div class="dropdown-content">
                    <div class="dropdown-content-item" type="button" onclick="@RedirectToElectricity">Electricity</div>
                    <div class="dropdown-content-item" type="button" onclick="@RedirectToHeating">Heating</div>
                    <div class="dropdown-content-item" type="button" onclick="@RedirectToHousing">Housing</div>
                    <div class="dropdown-content-item" type="button" onclick="@RedirectToWater">Water</div>
                </div>
            </i> Providers
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void RedirectToHome()
    {
        nav.NavigateTo($"/");
    }

    private void RedirectToElectricity()
    {
        nav.NavigateTo($"/Electricity");
    }
    private void RedirectToHeating()
    {
        nav.NavigateTo($"/Heating");
    }
    private void RedirectToHousing()
    {
        nav.NavigateTo($"/Housing");
    }
    private void RedirectToWater()
    {
        nav.NavigateTo($"/Water");
    }

}