@page "/ViewBill/{parameter}"
@using global::Shared.Models
@using Client_Tier1.Service
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IClientService _clientService

<div class="mainHolder">
    <div class="bill-header">
        <h3>The bill</h3>
    </div>
    <div class="bill-item even-coloring">
        <span class="bill-item-category text-color">
            <div>Number of the bill: </div>
            <div>@bill.id</div>
        </span>
    </div>
    <div class="bill-item even-coloring">
        <span class="bill-item-category text-color">
            <div>Date: </div>
            <div></div>
            <div>@bill.billingdate.ToShortDateString()</div> -
            <div>@bill.duedate.ToShortDateString()</div>
        </span>
    </div>
    <div class="bill-item even-coloring">
        <span class="bill-item-category text-color">
            <div>Current market price: </div>
            <div>@bill.priceperitem dkk/@companyUnit</div>
        </span>
    </div>
    <div class="bill-item even-coloring">
        <span class="bill-item-category text-color">
            <div>Amount used: </div>
            <div>@bill.amount @companyUnit</div>
        </span>
    </div>
    <div class="space"></div>
    <div class="bill-header"></div>
    <div class="bill-item even-coloring">
        <span class="bill-item-category text-color">
            <div>Total amount to pay: </div>
            <div>@bill.total dkk</div>
        </span>
    </div>
    <div class="bill-item even-coloring">
        <span class="bill-item-category text-color">
            <div>Is paid?: </div>
            <div>@bill.paidstatus</div>
        </span>
    </div>
    @if (bill.paidstatus == false)
    {
        <div class="buttonHolder">
            <div type="button" class="payButton" onclick="@TryPayment">Pay the bill</div>
        </div>
    }
</div>


@code {

    // Client Id
    private int id { get; set; } = -1;
        private const string idName = "id";

    // -----------------------------------------------

    [Parameter]
    public string? parameter { get; set; }

    private string companyname { get; set; }
    private int billId { get; set; }
    private List<Bill> bills { get; set; } = new List<Bill>();
    private Bill bill;

    private string companyUnit = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Get and set parsed data (name of the company and the bill id to view)
            int index = parameter.IndexOf("_");
            companyname = parameter.Substring(0, index);
            billId = int.Parse(parameter.Substring(index + 1));
            
            // Get all bills with parsed provider and Client id stored in local memory
            id = await localStorage.GetItemAsync<int>(idName);
            bills = await _clientService.GetBillsById(id, companyname);
            
            // Get the right bill to view
            for (int i = 0; i < bills.Count; i++)
            {
                if (bills[i].id == billId) bill = bills[i];
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }

        // Decides which unit is to be displayed based on company name
        try
        {
            bill = bills[billId - 1];

            switch (bill.provider)
            {
                case "Electricity":
                    companyUnit = "kWh";
                    break;
                case "Heating":
                    companyUnit = "m^3";
                    break;
                case "Housing":
                    companyUnit = "month";
                    break;
                case "Water":
                    companyUnit = "m^3";
                    break;
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }

    private void TryPayment() // to implement
    {
    }

}